### Reading Data from relational Databases

In [ ]:
import pandas as pd

In [ ]:
 ('C:\Users\\user\\Downloads\\chinook.db')